<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
	{% block verification %}{% endblock %} {% block head %}{% endblock %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %}{% endblock %}</title>
</head>

<body>
	<h1>Indexing testing pages</h1>

	{% block top %} {% endblock %}

	<h2>Redirects</h2>

	<p>
		<a href="redirect-loop1.html"> Redirect loop</a>: redirect loop using 301 http responses. Your browser should show an error.<br>
      <a href="redirect-loop-meta1.html"> Redirect loop - meta version</a>: redirect loop using <code>&lt;meta http-equiv=&quot;refresh&quot;&gt;</code>. Your browser will not know what to do.<br>
      <a href="redirect-chain1.html"> Redirect chain</a>: 7 redirects using 301 HTTP responses before arriving at the end. Too much for Google.<br>
      <a href="meta-chain1.html"> Meta chain</a>: 7-pages of chain redirects using <code>&lt;meta http-equiv=&quot;refresh&quot;&gt;</code>. Same as before<br>
      <a href="redirect-hsts1.html"> Redirects with hsts</a>: 4 redirects, but each time there is a 307 to the https version of the page. Google will call pages 1-3 two times to make sure, then give up.<br>
    </p>

    <h2>User-declared Canonicals</h2>
    <p>
      <a href="canonical-meta.html">Not the index - meta tag</a> Points to <code>"/"</code> as the canonical using a <code>meta</code> tag.<br>
      <a href="canonical-http.html"> This also is not the index - http header</a>: Points to <code>"/"</code> as the canonical using an HTTP <code>Link:</code> header.<br>
    </p>

   <h2>404s</h2>
   <p>
     <a href="true_404.html">True 404</a>: This link is broken.<br>
     <a href="soft_404.html">Soft 404</a>: Although it returns a 200 http response, will produce a Soft 404 error in Search Console.<br>
     <a href="bot_404.html">Bot 404</a>: This page returns a 404 if you user agent contains "Googlebot", otherwise it returns a 200. It should not be indexed, but you won't see any error in your browser.<br>
   </p>

   <h2>Server Errors</h2>
   <p>
   <a href="the_five_hundred.html">The five hundred</a>: Returns a 500 HTTP response (server error).<br>
     <a href="{{ five_hundred_url}}/5xx-robots.html">5xx Robots</a>: A mirror website that prevents crawling by returning a 500 HTTP response on <code>robots.txt</code>.
   </p>

   <h2>User directives (robots.txt and noindex)</h2>
   <p>
     <a href="blocked.html">Blocked</a>: Blocked from crawling by robots.txt.<br>
     <a href="noindex.html">No index</a>: No-index meta tag.<br>
     <a href="noindex-http.html">No index - HTTP</a>: the server returns an http <code>X-Robots-Tag: noindex</code> header.
   </p>

   <h2>Rendering</h2>
   <p>
   <a href="1p-blocked.html">1p Blocked</a>: Products are rendered on the page using javascript, but the script is blocked by <code>robots.txt</code>, so the crawler never sees the full content of the page.<br>
   </p>

  <p>
     <a href="robots.txt">robots.txt</a>
  </p>
  {% block backlink %}
  {% endblock %}

  </body>
</html>
