<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
	<meta name="google-site-verification" content="K5u7BSA9-sx6S3mtBTOZYb2tYMQsRhZ6Nbs_Sx-5Ew8" />
	<meta charset="utf-8">
	<title>Indexing test app</title>
</head>

<body>
	<h1>Indexing testing pages</h1>

	<h2>Redirects</h2>

	<p>
		<a href="redirect-loop1.html"> Redirect loop</a>: redirect loop using 301 http responses. Your browser should show an error.<br>
      <a href="redirect-loop-meta1.html"> Redirect loop - meta version</a>: redirect loop using <code>&lt;meta http-equiv=&quot;refresh&quot;&gt;</code>. Your browser will not know what to do.<br>
      <a href="redirect-chain1.html"> Redirect chain</a>: 7 redirects using 301 HTTP responses before arriving at the end. Too much for Google.<br>
      <a href="meta-chain1.html"> Meta chain</a>: 7-pages of chain redirects using <code>&lt;meta http-equiv=&quot;refresh&quot;&gt;</code>. Same as before<br>
      <a href="redirect-hsts1.html"> Redirects with hsts</a>: 4 redirects, but each time there is a 307 to the https version of the page. Google will call pages 1-3 two times to make sure, then give up.<br>
    </p>

    <h2>Duplicates</h2>
    <p>
      <a href="canonical-is-the-index.html">Not the index - meta tag</a> Points to <code>"/"</code> as the canonical using a <code>meta</code> tag.<br>
      <a href="not-index.html"> This also is not the index - http header</a>: Points to <code>"/"</code> as the canonical using an HTTP <code>Link:</code> header.<br>
    </p>

   <h2>404s</h2>
   <p>
     <a href="true_404.html">True 404</a>: This link is broken.<br>
     <a href="softly_crashing.html">Soft 404</a>: Although it returns a 200 http response, will produce a Soft 404 error in Search Console.
   </p>

   <h2>Server Errors</h2>
   <p>
     <a href="the_five_hundred.html">The five hundred</a>: Returns a 500 HTTP response (server error).
   </p>

   <h2>User directives</h2>
   <p>
     <a href="blocked.html">Blocked</a>: Blocked from crawling by robots.txt.<br>
     <a href="noindex.html">No index</a>: No-index meta tag.<br>
     <a href="noindex-http.html">No index - HTTP</a>: the server returns an http <code>X-Robots-Tag: noindex</code> header.
   </p>
   <p>
     <a href="robots.txt">robots.txt</a>
  </p>
  </body>
</html>