{% extends "index_base.html" %} 
{% block verification %}
<meta name="google-site-verification" content="K5u7BSA9-sx6S3mtBTOZYb2tYMQsRhZ6Nbs_Sx-5Ew8" /> {% endblock %}
{% block title %} 
Indexing test app 
{% endblock %} 

{% block top %}
<p>
	This is a collection of pages and server directives to test and showcase settings that will not allow pages to be indexed
	on Google.
</p>

<p>
	Each of the pages here should show a different error in the Live URL test, from Search Console's <a href="https://support.google.com/webmasters/answer/9012289">URL
		Inspection Tool</a>.
</p>

<p>
	The code is at <a href="https://github.com/cgbarros/indexing-sandbox">https://github.com/cgbarros/indexing-sandbox</a>
</p>
{% endblock %}
