<div class="col s12 m6">
  <a href="{{ url }}" class="card-link">
    <div class="card hoverable">
      <div class="card-image">
        <img src="{{ image }}" alt="{{ name }}">
      </div>
      <div class="card-content">
        <p class="card-title">{{ name }}</p>
        <p><strong>{{ price }}</strong></p>
      </div>
      <div class="card-action center-align">
        <a href="#!" class="btn-small waves-effect blue">Add to Cart</a>
        <a href="#!" class="btn-small waves-effect green lighten-1">Add to Wishlist</a>
      </div>
    </div>
  </a>
</div>
