<div class="col s12 m6">
  <a href="{{ url }}" class="card-link">
    <div class="card hoverable">
      <div class="card-image">
        <img src="{{ image }}" alt="{{ name }}">
        <span class="card-title">{{ name }}</span>
      </div>
      <div class="card-content">
        <p>{{ description }}</p>
        <p><strong>{{ price }}</strong></p>
      </div>
      <div class="card-action">
        <a href="#!" class="btn-small blue">Add to Cart</a>
        <a href="#!" class="btn-small red lighten-1">Add to Wishlist</a>
      </div>
    </div>
  </a>
</div>
